.card-image{
    width: 100%;
}
.container{
    margin:10px 0px 30px 0px;
}
table,.row,.container{
    scale: 0.8;
}
table{
    position: absolute;
    top: 100px;
}
h2{
    position: absolute;
    top: 80px;
    left: 40%;
}
.row{
    position: absolute;
    top: 350px;
    left: 120px;
    scale: .9;
}
.container{
    position: absolute;
    top: 150px;
}
h3{
    position: absolute;
    top: 400px;
    left: 40%;
    font-size: 20px;
}
