<!-- <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 100%;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
        <mat-icon>shopping cart</mat-icon>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
        <mat-icon>group</mat-icon>
      </a>
    </li>
  </ul>
  <div class="dropdown border-top">
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div> -->
<div class="sidebar">
  <ul>
    <li>
      <a href="#">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <mat-icon>shopping cart</mat-icon>
        <span>Cursos</span>
      </a>
    </li>
    <li>
      <a href="#">
        <mat-icon>group</mat-icon>
        <span>Alumnos</span>
      </a>
    </li>
  </ul>
</div>